/* ===GENERAL STYLES===*/

* {
  box-sizing: border-box;
}

/* Single-direction margin */
h1,h2,h3,
ul,p,img {
    margin-bottom: 1.2rem;
}

body {
  background: url('assets/wedding%20pattern.png') no-repeat center center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  line-height: 1.2rem;
  color: #444349;
}

.magamrol,
.program,
.gifts,
.questions,
.contact {
  width: 95vw;
  margin: 1.1rem auto;
  padding: .5rem .1rem;
  text-align: left;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .20s ease-in-out;
}

/* NAV STYLES */

/ /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: visible;
  
 
}

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  display: block;
  color:black ;
  text-align: center;
  padding: 1rem 4.6rem;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 1.9rem;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: hsla(160, 16%, 16%, 0.81);
  color: white;
  
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: grey;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 


@media (min-width: 600px) {

  .topnav {
    display: inline-block;
    border-bottom: 2rem;
    width: 95vw;
	font-size: 3.5rem;
	font-weight: 500;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	background: hsla(136, 100%, 99%, 0.47);
  }

}

/* HEADER STYLES */

.cover {
  background: url('assets/massage-cover.jpg') no-repeat center/cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
}

@media (min-width: 768px) {

	.cover {
        background: url('assets/massage-cover.jpg') no-repeat center/cover;
		}

}

.mainline-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: .625rem;
}

.mainline {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.0);
    }

.mainline h1 {
    font-size: 3.7rem;
    color:  #ff4500;
    margin-bottom: -8.6rem;
    font-weight: 600;
    letter-spacing: 0.8rem;
    line-height:5rem;
     }

@media (min-width: 600px) {

  .mainline {
    padding: 2.25rem;
    border-radius: 2rem;
    width: 55vw;
	
  }
    
    .mainline h1 {
    font-size: 6rem;
    color:  #ff4500;
    margin-bottom: -8.6rem;
    font-weight: 600;
    letter-spacing: 0.8rem;
    line-height:8rem;
  }
    
}

/* Magamrol STYLES */

.blurb{
  font-family: 'Muli', sans-serif;
  max-width: 100vw;
  height: 45vh;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
}

.my-photo {
  float: right;
  margin: 1.8rem;
  width: auto;
  height:50vh;
  margin-top: 0.6rem;
}

@media (min-width: 768px) {

  .blurb {
   display: inline-block;
   width: 95vw;
   padding: 0.2rem;
   margin: 0.5rem;
   text-align:justify;
  }

}

.blurb::after {
  content: "";
  display: block;
  height: 0.12rem;
  width: 40vw;
  margin: 1.1rem auto;
  background-color: white;
}

@media (min-width: 768px) {

  .blurb::after {
   display:none;
  }

}

/* Program STYLES */

.program {
  width: 100vw;
  text-align: left;
  background: hsla(100,0%,0%,.99);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
}

@media (min-width: 768px) {

  .program-wrapper {
   width: 30vw;
   margin: 0 auto;
  }

}

.program h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}

.program p {
  font-style: italic;
}

.program ul {
  letter-spacing: .125rem;
}

/* Gift STYLES */

.gifts {
    background: hsla(10,20%,100%,1);
    width: 100vw;
    font-family: 'Muli', sans-serif;
    color: #444349;
    text-align: center;
    }

.gifts h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}  

.gifts img {
  height: 9.5rem;
    }  
    
.gifts p:last-child {
  margin-bottom: 0;
}

/* FAQ STYLES */

.faq {
  width: 100vw;
  text-align: center;
  background: hsla(100,0%,0%,.99);
  color: #d2ba87;
    }

.faq h2 {
  margin-top: 2.2rem;
}

.faq p {
  font-family: 'Muli', sans-serif;
  text-align: left;
  margin-left: 1rem;
}

.question-group::after {
  content: "";
  display: block;
  height: .15rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

.question {
    font-weight: 700;
    margin-bottom: .2rem;
    }

.answer {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {

  .question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .7rem;
  }

  .question-group::after {
    display: none;
  }

  .question-group h3 {
    text-align: left;
  }

}

/* Footer STYLES */

footer {
  height: 10vh;
  width: 100vw;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}

@media (min-width: 768px) {

  footer {
    min-height: 6vh;
  }

}